<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="davidmuir.mobileplaformdevelopmentcourseworkdavidmuir">

    //David Muir MPD Resit CourseWork
    //Matric #S1428976

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bbclogo"
        android:label="Matric - S1428976"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PullParser"/>
        <activity android:name=".ReportItem"
            android:label="Map">

        </activity>
    </application>

</manifest>